* {
  box-sizing: border-box;
  font-family: Roboto, Archivo, Work Sans;
}
.header {
  padding: 0px 80px;
}

.main-header {
  text-shadow: 2px 2px rgb(199, 202, 109);
}

/* footer */
svg {
  float: left;
}

svg::after {
  content: "";
  display: block;
  clear: both;
}

.footer-news a {
  text-decoration: none;
  color: black;
}

.border-bottom {
  border-bottom: 1px solid black;
}

@media only screen and (min-width: 768px) and (max-width: 992px) {
  .footer-logo {
    visibility: hidden;
  }
  .footer-inf {
    margin-top: -180px;
    padding-left: 100px;
  }
}

@media only screen and (max-width: 768px) {
  .footer-logo {
    visibility: hidden;
  }
  .footer-inf-1 {
    margin-top: -180px;
  }
  .footer-inf {
    padding-left: 100px;
  }
  .text {
    margin-left: 0em !important;
  }
}

/* style hotel */
/* nav */
ul li:hover {
  background-color: azure;
}

form.search button:hover {
  background: #0b7dda;
}

form.search button {
  float: left;
  width: 20%;
  padding: 10px;
  background: #2196f3;
  color: white;
  font-size: 17px;
  border: 1px solid grey;
  border-left: none;
  cursor: pointer;
}

form.search input[type="text"] {
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 80%;
  background: #f1f1f1;
}

form.search::after {
  content: "";
  clear: both;
  display: table;
}

.background {
  background-color: rgb(230, 239, 239);
}

.title {
  border-bottom: 10px solid yellow;
}

.title-list {
  border: 2px dotted brown;
}

.title-list li a {
  text-decoration: none;
  color: black;
}

.main-hot:hover {
  border: 1px solid white;
  padding: 10px;
  box-shadow: 5px 10px 8px #888888;
}

/*  */
.main-hot a {
  text-decoration: none;
  color: black;
}

.header-ct {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: rgb(37, 132, 132);
}

.content-in {
  height: 100px;
}

/*  */
.background-intro {
  background-image: url(image/br-intro.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 35em;
  text-align: center;
  color: #ffffff;
  font-size: 150%;
  opacity: 0.7;
}

.text {
  width: 50%;
  border: 1px white;
  word-break: keep-all;
  margin-left: 10em;
}

.header-intro {
  padding-top: 4em;
}

.icon {
  border: 1px solid black;
  height: 5em;
  width: 6em;
  margin-top: 80px;
  padding-top: 5px;
  border-radius: 50%;
}

.icon:hover {
  background-color: rgb(255, 0, 200);
}
